.update-filter {
  @include clearfix;
  margin: em(60) 0;
  label {
    display: block;
    margin: 0 0 em(10) 0;
  }
}

select#workspace_id {
  width: 90%;
  border: em(2) solid $medium-gray;
  background: white;
  font-size: em(14);
  height: em(40);
  border-radius: $base-border-radius !important;
  @media(max-width: em(640)) {
    width: 100%;
  }
}

ul.updates {
  padding: em(40) 0 0 0;
  margin: 0;
  @media(max-width: em(640)) {
    width: 95%;
    float: none;
    border: 0;
    margin: 0 auto;
  }
  .dateline {
    font-family: Roboto-Medium;
    font-size: em(11);
    color: lighten($dark-gray,20%);
    line-height: em(15);
    letter-spacing: em(1);
    text-transform: uppercase;
    border: em(2) solid $gray;
    position: absolute;
    padding: em(10) em(25);
    background: white;
    margin-top: em(-65);
    @media(max-width: em(640)) {
      margin-left: 0;
    }
  }
  li {
    @include clearfix;
    max-width: em(1440);
    list-style-type: none;
    background: white;
    margin: 0 0 em(150) 0;
    padding: 0;
    .update-workspace {
      @include span-columns(4);
      margin-top: em(-20);
      img {
        padding: em(10);
        border: $base-border;
        border-color: $medium-gray;
      }
    }
    .update {
      @include span-columns(7);
      float: right;
      height: 100%;
      .update-line {
        border-left: $base-border;
        height: 100%;
        position: absolute;
        margin-top: em(-20);
        margin-left: em(20);
        padding-top: em(20);
        z-index: -1;
      }
      img {
        border: $base-border;
        border-color: $medium-gray;
      }
      p {
        border: $base-border;
        border-color: $medium-gray;
        margin-top: em(-1);
        margin-bottom: 0;
      }
    }
    @media(max-width: em(640)) {
      margin: 0 auto em(90) auto;
    }
    h3.workspace {
      position: absolute;
      display: block;
      margin-top: em(10);
      margin-left: em(-20);
      float: left;
      font-size: em(11);
      font-weight: 500;
      text-transform: uppercase;
      line-height: 15px;
      letter-spacing: 1px;
      border: em(2) solid $gray;
      background: white;
      a {
        text-decoration: none;
        color: lighten($dark-gray,20%);
        padding: em(5) em(10);
        display: block;
      }
      @media(max-width: em(640)) {
        margin: em(5) 0 0 em(-5);
      }
    }
    .thumbnail {
      max-height: em(275);
      overflow: hidden;
      border-bottom: $base-border;
    }
    img {
      width: 100%;
    }
    p {
      padding: em(20);
    }
    .tagline {
      font-size: em(9);
    }
  }
}