body.registrations,
body.sessions,
body.passwords {

  header {
    display: none;
  }

}

.devise-form {
  @include vertical-align;
  width: 95%;
  max-width: _em(450);
  margin: 0 auto;
  text-align: center;

  border: _em(1) solid $light-gray;
  border-radius: 5px;
  padding: _em(30) _em(20);
}

.form-actions {
  margin: _em(20);
}

ul#devise-links {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
    padding: 0 _em(5);
    margin: 0;
    display: inline;
    a {
      color: $gray;
      text-decoration: none;
      font-size: _em(10);
    }
  }
}