// Homepage Neat container variable
@mixin homepage-container {
  @include clearfix;
  max-width: em(1024);
  margin: {
    left: auto;
    right: auto;
  }
}

// Styles
body.static {
  .nav {
    font-size: em(14);
    padding: em(24) em(15);
    &.desktop-nav {
      width: 100%;
    }
  }
  .navigation-tools {
    a {
      color: white;
      font-size: em(14);
      border: 2px solid white;
      border-radius: em(5);
      padding: em(8) em(14);
      font-weight: 500;
      &:hover {
        text-decoration: none;
        border-color: $heavy-blue;
        color: $heavy-blue;
      }
      &.sign-up {
        margin-left: em(5);
      }
    }
  }
}

.header {
  height: 75vh;
  background-image: image-url('header.png');
  background-size: cover;
  background-position: center center;
  position: fixed;
  z-index: -1;
  width: 100%;
  @media(max-width: em(620)) {
    height: 50vh;
  }
}

.homepage--header-links {
  position: fixed;
  z-index: 15;
  padding: em(10);
  width: 100%;
  color: white;
  float: left;
  a {
    color: white;
    display: block;
    float: right;
    border-radius: 3px;
    margin-left: em(10);
    text-transform: capitalize;
    border: em(3) solid white;
    padding: em(10) em(15);
    font-size: em(14);
    &:hover {
      border-color: $blue;
      background: $blue;
      text-shadow: 0 0 2px lighten($dark-gray, 20%);
      cursor: pointer;
    }
    @media(max-width: em(620)) {
      padding: em(5) em(10);
      font-size: em(12);
      border: em(2) solid white;
    }
  }
}

.logo-tagline {
  @include vertical-align;
}

.tagline {
  color: white;
  font-size: em(21);
  margin: em(5) 0;
  text-shadow: 0 0 2px lighten($dark-gray,40%);
}

.homepage--page {
  background: white;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 75vh;
  text-align: center;
  @media(max-width: em(620)) {
    top: 50vh;
  }
}

.cta-text {
  @extend p;
  margin: 0 auto;
  max-width: em(650);
  width: 95%;
  text-align: left;
}

a.signup-link {
  border: em(2) solid $blue;
  border-radius: em(5);
  padding: em(12);
  display: block;
  width: em(200);
  margin: em(24) auto 0;
  color: $blue;
  text-transform: capitalize;
  background: white;
  font-weight: 500;
  &:hover {
    background: $blue;
    color: white;
  }
}


.homepage--page--section {
  width: 100%;
  margin-top: em(60);
  border-top: em(1) solid $light-gray;

  .homepage-inner-wrap {
    @include homepage-container;
    margin: em(60) auto;
    @include clearfix;
    padding: 0 em(20);
    img {
      margin-bottom: 50px;
      max-width: 749px;
      width: 100%;
    }
  }
}

ul.feature-set {
  text-align: left;
  margin: em(40) 0;
  padding: 0;
  @include span-columns(4);
  &.contractors {
    @include clearfix;
  }
  li {
    margin: 0 0 em(8) em(20);
    padding: 0;
    opacity: .6;
    font-weight: 300;
    font-size: em(15);
  }
  span.audience-title {
    display: block;
    font-weight: 700;
    margin-bottom: em(5);
  }
  @media(max-width: em(860)) {
    width: em(400);
    margin: em(20) auto;
    float: none;
    &:last-child {
      margin-right: inherit;
    }
  }
}

p.about {
  max-width: em(550);
  margin: 0 auto em(20);
}

