ul.operations {
  padding: 0;
  margin: em(5) 0;
  text-align: center;
  &:hover {
    opacity: 1;
  }
  li {
    padding: 0;
    margin: 0 em(5);
    list-style-type: none;
    display: inline;
    a {
      font-size: em(12);
      color: $blue;
      text-decoration: none;
      border-bottom: em(2) dotted $blue;
      &:hover {
        border-bottom-style: solid;
      }
    }
  }
  &.off--page {
    @include clearfix;
    position: fixed;
    z-index: 10;
    right: -160px;
    height: em(40);
    line-height: em(35);
    border: em(1) solid $heavy-blue;
    border-left-width: em(5);
    background: white;
    transition: all .4s ease;
    padding: 0 em(8);
    &:hover {
      right: -1px;
      border-left-width: em(1);
    }
    li {
      a {
      }
    }
  }
}