img.header-image {
  width: 100%;  
  display: block;
  margin: 0 auto;
  max-width: em(1440);
}

.ownership-credit-feed {
  background: white;
  height: em(80);
  width: 100%;
  border-bottom: $base-border;
  border-width: em(1);
  border-bottom-color: $blue;
  text-align: center;
  img {
    margin: em(12) em(30) 0;
    max-height: em(50);
  }
  @media(max-width: em(640)) {
    display: none;
  }
}

.project-header {

  width: 100%;
  max-width: em(1440);
  height: em(500);

  margin: 0 auto;

  background-position: center;

  .header-image {
    width: em(1440);
    position: absolute;
    opacity: .5;
    height: em(500);
    filter:          grayscale(10%);
    -webkit-filter: grayscale(10%);
    -moz-filter:    grayscale(10%);
    -ms-filter:     grayscale(10%);
    -o-filter:      grayscale(10%);
  }

  .project-information {
    width: 100%;
    max-width: em(920);
    margin: 0 auto;
    color: $heavy-blue;
    position: relative;
    z-index: 10;
    text-align: center;
    @include vertical-align;

    @media(max-width: em(640)) {
      padding: 0 em(7);
    }

  }

}

progress {
  width: 100%;
  margin-bottom: em(25);
}



.credits {

  width: 95%;
  max-width: em(620);
  margin: -1px auto 40px auto;

  .credit {

    @include span-columns(4);

    span.label {
      font-size: em(9);
      color: #424242;
      opacity: .6;
      text-transform: uppercase;
      margin-right: em(2);

      &:after {
        content: ':';
      }

    }

    span.value {
      font-size: em(11);
      color: #424242;
    }

    @media(max-width: em(640)) {
      @include span-columns(12);
      text-align: center;
    }

  }

  @media(max-width: em(640)) {
    @include span-columns(12);
    margin: em(10) 0;
  }

}

.details {

  @include outer-container;

  .project-definition {
  
    text-align: left;

    @include span-columns(4);

    span.label {
      width: 100%;
      display: block;
      opacity: .6;
      font-size: em(9);
      color: #424242;
      line-height: 11px;
      text-transform: uppercase;
    }

    span.value {
      font-size: 22px;
      color: #3D6E9F;
      line-height: 29px;
      /* Higher Education, Re: */
    }

    @media(max-width: em(640)) {
      @include span-columns(12);
      margin: em(15) 0;
      text-align: center;
    }

  }


}

.description {
  margin: 0 auto;
  padding: em(40) 0;
  border-bottom: $base-border-bottom;
}

