.project-header {

  width: 95%;
  height: em(400);
  margin: 0 auto;

  text-align: center;
  background-position: center;

  .logo {
    position: absolute;
    width: 100%;
    max-width: em(1440);
    max-height: em(400);
    overflow: hidden;
    background: white;

    border-bottom: 1px solid $light-gray;

    img {
      -webkit-filter: brightness(1.7);
      filter: brightness(1.7);
      opacity: .4;
    }

  }

}

progress {
  width: 100%;
  margin-bottom: em(25);
}

.project-information {

  position: absolute;
  width: 100%;
  max-width: em(920);
  margin: 0 auto;

  color: $heavy-blue;

  @include vertical-align;
  @include clearfix;

}

.credits {
  @include clearfix;
  width: em(600);
  margin: 0 auto 40px auto;
}

.credit {

  width: 33.3333%;
  float: left;

  span.label {
    font-size: em(9);
    color: #424242;
    opacity: .6;
    text-transform: uppercase;
    margin-right: em(2);

    &:after {
      content: ':';
    }

  }

  span.value {
    font-size: em(11);
    color: #424242;
  }
}

.details {
  @include clearfix;
}

.description {
  margin: 0 auto;
  padding: em(40) 0;
  border-bottom: $base-border-bottom;
}

.wrap {
  @include clearfix;
  float: left;
  width: 33.3333%
}

.project-definition {
  left: 50%;
  text-align: left;
  float: left;
  height: 100px;
  span.label {

    width: 100%;
    display: block;
    opacity: .6;
    font-size: em(9);
    color: #424242;
    line-height: 11px;
    text-transform: uppercase;

  }

  span.value {
    font-size: 22px;
    color: #3D6E9F;
    line-height: 29px;
    /* Higher Education, Re: */
  }

}