:css
  #btb-widget {
    border: 1px solid black;
    width: 200px;
  }
#btb-widget
  #btb-logo= image_tag @project.logo.url(:widget), title: @project.title
  #btb-description= truncate @project.description, length: 150
  %ul#btb-updates
    - @project.updates.each do |update|
      %li= image_tag update.attachment.url(:thumb), title: update.title