%h1 Current Projects

%ul
  - @projects.each do |project|
    %li{ id: "project-#{project.to_param}" }
      = link_to project.title, project

%ul.operations
  %li= link_to 'Create new project', new_project_path
