.header.center
  .btb-logo
.homepage--page
  .cta-text Before The Banners is a marketing platform for high profile construction and real estate development projects. Before The Banners keeps community members, future clients, and current employees informed about the construction projects that impact them on a daily basis. Before The Banners gives construction teams a chance to show off their projects and interact with the people who will benefit from their work for years to come.
  %a.signup-link{ :href => "#"} Sign up today