- if @update.attachment?
  =image_tag @update.attachment.thumb.url
%h2.workspace= @update.workspace_title
%p.description= @update.body

%ul.operations
  %li= link_to 'Edit', edit_project_update_path(@project, @update)
  %li= link_to 'Back', @project