html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.wrapper {
  width: 95%;
  max-width: em(920);
  height: 100%;
  margin: em(40) auto;
}

.large-wrapper {
  width: 100%;
  max-width: em(1440);
  margin: 0 auto;
}

.internal-wrapper {
  width: 95%;
  max-width: em(920);
  margin: 0 auto;
}

.small-internal-wrapper {
  width: 95%;
  max-width: em(620);
  margin: 0 auto;
}
