html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.wrapper {
  width: 95%;
  max-width: em(920);
  height: 100%;
  margin: 0 auto;
}

.internal-wrapper {
  width: 95%;
  max-width: em(920);
  margin: 0 auto;
}

.small-internal-wrapper {
  width: 95%;
  max-width: em(620);
  margin: 0 auto;
}
