p.error_notification {
  color: $red;

  width: 110%;
  margin-left: -5%;
  padding: em(6);

  border: em(1) solid $red;
  background: lighten($red,45%);
}

span.error {
  border: em(2) solid $red;
  border-bottom-left-radius: $base-border-radius;
  border-bottom-right-radius: $base-border-radius;
  background: lighten($red,45%);

  font-size: em(9);
  color: $red;
  text-align: center;

  padding: em(10);
  
  display: block;
}

div.input.field_with_errors input {
  border-color: $red;
}