.form-actions {
  text-align: center;
  margin: em(40) 0;  
}

.form-inputs {
  
  @include clearfix;

  .form-section {

    @include outer-container;
    margin: em(20) 0;


    &.two-columns {

      .string,
      .datepicker {
        @include span-columns(6);
        @include omega(2n);
        
        input {
          width: 100%;
        }

        @media(max-width: em(640)) {
          @include span-columns(12);
        }

      }

    }

    &.three-columns {

      .string,
      .datepicker,
      .file {
        @include span-columns(4);
        @include omega(3n);

        input {
          width: 100%;
        }

        @media(max-width: em(640)) {
          @include span-columns(12);
        }

      }

    }

  }

  .string.project_owner_title,
  .string.project_architect_title,
  .string.project_builder_title {
    @include span-columns (3);
  }

  &.two-up {
    @include homepage-container;
    .input {
      @include span-columns(6);
      @include omega(2n);
      @media(max-width: em(640)) {
        @include span-columns(12);
      }
    }
  }

}

[data-tip] {
  position:relative;
}
[data-tip]:before {
  content:'';
  /* hides the tooltip when not hovered */
  display:none;
  content:'';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $blue; 
  position:absolute;
  top:30px;
  left:50%;
  z-index:8;
  font-size:0;
  line-height:0;
  width:0;
  height:0;
}
[data-tip]:after {
  display:none;
  content:attr(data-tip);
  position:absolute;
  top:35px;
  left:2.5%;
  padding: em(10);
  background: lighten($blue,40);
  color: $blue;
  z-index:9;
  font-size: 0.75em;
  width: 95%;
  border-radius: 3px;
  border: em(2) solid $blue;
  @include box-sizing(border-box);
}
[data-tip]:hover:before,
[data-tip]:hover:after {
  display:block;
}