header {

  @include clearfix;
  background: $heavy-blue;
  color: white;
 
  z-index: 10;
  width: 100%;
  position: absolute;

  padding: 0 em(10);

  height: em(40);
  line-height: em(40);

  font-weight: 400;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;

  a {
    color: white;
    text-decoration: none;
  }

}

.btb-logotype {
  letter-spacing: em(1.83);
  float: left;
  font-size: em(12);
}

.nav {

  float: right;

  font-size: em(10);
  letter-spacing: em(1.43);

  @media (max-width: em(640)) {
      display: none;
  }

}

.mobile-nav {

  float: right;
  display: none;

  @media(max-width: em(640)) {
    display: block;
    margin-top: -2px;
  }

}

ul#navigation-menu {

  padding: 0;
  margin: 0 em(20) 0 0;
  float: left;

  li {
    padding: 0;
    margin: 0 em(20) 0 0;
    list-style-type: none;
    display: inline;

    &:last-child {
      margin: 0;
    }

  }

}

.navigation-tools {
  float: right;
}