div.input {
  margin: em(4) 0;
  text-align: left;
}

div.input.boolean {
  text-align: center;
  margin: em(4);
  label {
    margin-left: em(1);
    font-size: em(10);
    text-transform: capitalize;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 100%;
  border: em(2) solid $gray;
  padding: em(8);
  font-size: em(12);
  letter-spacing: em(.43);
  border-radius: $base-border-radius;
  color: $dark-gray;
  transition: all .2s ease;
  &:focus {
    outline: none;
    border-color: $blue;
  }
}

textarea {
  height: em(150);
}

input[type="submit"] {
  @include main-button;
}