div.input {
  margin: _em(4) 0;
  text-align: left;
}

div.input.boolean {
  text-align: center;
  margin: _em(4);
  label {
    margin-left: _em(1);
    font-size: _em(10);
    text-transform: capitalize;
  }
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  border: _em(2) solid $gray;
  padding: _em(8);
  font-size: _em(12);
  letter-spacing: _em(.43);
  border-radius: 2px;
  color: $dark-gray;
  transition: all .2s ease;
  &:focus {
    outline: none;
    border-color: $blue;
  }
}

input[type="submit"] {
  @include button;
  background: white;
  box-shadow: none;
  color: $blue;
  border: _em(3) solid $blue;


  font-size: _em(12);
  letter-spacing: _em(.83);
  text-shadow: none;
  &:hover:not(:disabled) {
    background: white;
    box-shadow: inset 0 1px 2px $gray;
  }
}