@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin main-button {
  background: white;
  box-shadow: none;
  color: $blue;
  border: em(3) solid $blue;
  border-radius: $base-border-radius;
  padding: em(10) em(20);
  font-size: em(14);
  font-weight: 700;
  letter-spacing: em(.83);
  text-shadow: none;
  text-transform: capitalize;
  &:hover:not(:disabled) {
    background: $blue;
    color: white;
    text-shadow: none;
    cursor: pointer;
  }
  &:active:not(:disabled) {
    border: em(3) solid $blue;
  }
  &:focus:not(:disabled) {
    border: em(3) solid $blue;
    outline: 0;
  }
  @media(max-width: em(640)) {
    width: 100%;
    margin: em(20) 0;
  }
}
