h2 {
  font-family: Roboto-Bold;
  font-size: em(35);
  color: $heavy-blue;
  margin: 0;
}

h3 {
  text-align: left;
  font-size: em(24);
  color: $heavy-blue;
  margin: 0 0 em(10) 0;
}

h4 {
  text-align: left;
}

p {
  font-weight: 300;
  font-size: em(17);
  color: #4A4A4A;
  line-height: em(26);
  margin: 0 0 em(5) 0;
}

label {
  font-size: em(9);
  text-transform: uppercase;
  color: $gray;

  letter-spacing: em(.43);

}