h2 {
  font-family: Roboto-Bold;
  font-size: _em(35);
  color: $heavy-blue;
  margin: 0;
}

h4 {
  text-align: left;
}

label {
  font-size: _em(9);
  text-transform: uppercase;
  color: $gray;
}

label.boolean {
  font-size: _em(10);
  text-transform: capitalize;
}