.homepage--header-links
  - if user_signed_in?
    = link_to "Sign out", destroy_user_session_path, method: :delete, class: "sign-out"
  - else
    = link_to "Sign in", new_user_session_path, class: "sign-in"
    %a{ :href => "#sign-up-section"} Sign up
